
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.first-style{
    background-image: url(donate-today-main/images/donateabc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

   

}
#h-style{
    text-align: center;
    padding-top: 10%;
    font-size: 60px;
    font-weight: bolder;
    color: white;

}
#p-style{
    text-align: center;
    color:white;
    padding: 1% 22% 5% 22%;

}



.link-button{
    
    text-decoration:none;
    background-color: #FF5959;
    padding: 20px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 900;
    font-size: 20px;

}
.link-style{
    text-align: center;
}

#h2-style{
    text-align: center;
    padding-top: 4%;
    font-size: 40px;
    font-weight: bolder;
}
#p2-style{
    text-align: center;
    padding: 1% 20% 4% 20%;
}
.div{

    background-color: #FAFAFA;
    width: 80px;
    border:0px solid;
    padding: 23px 23px 23px 23px;
    margin: 8px;
    width: 70px;
    display: inline-block;
    align-self: center;
  
}
.money-ammount{
    margin-left: 27%;
    margin-right: 23%;
    text-align: center;
    display: flex;
    margin-bottom: 70px;
}
#highlight{
    border:2px solid #FF5959;
    color: #FF5959;
    background-color: #e3d1d1;
    font-weight:1000;
}
.hr{
    
    width: 46%;
    margin-left: 28%;
    margin-bottom:3%;
    
}
.ammount{
    text-align: center;
    margin-bottom: 2%;
    font-weight: 200;
    color: #e3d1d1;
}

.link-button2{
    
    text-align: center; 
    padding-bottom: 8%;
}


.plan{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
    text-align:justify;
    border-radius: 10px;
 
}
.donation-plan{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 15%; 
}


#food{
    background-color: #EDF5F6;
}
#shelter{
    background-color: #FFEEEF;
}
#education{
    background-color: #FFF4D6;
}
.section4{
    display: flex;
    margin-bottom: 9%;
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}

.contribute-button{
    background-color:#FF5959;
    text-decoration: none;
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 5px; 
    color:white;
    
}
#h1style-section4{
    font-size: 35px;
    font-weight: bolder;
}
#padding{
    padding-right: 19%;
}

.updates{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 4%;
}
#update-id{
    font-size: 35px;
    font-weight: bolder;
}
.box{
    position: center;
    top: 50%;
    left: 50%;
    transform: translate (-50% , -50%);
width: 500px;
text-align: center;
background :#FFF4D6;
text-align: center;
margin-left: 24%;
margin-bottom: 7%;
padding: 6% 9%;
border-radius: 5px;
}

.box input{
    color: black;
    font-size: 18px;
    width: 60%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 15px 20px;
    
    outline: none;
    background: #D9D9D9;


}
.box button{
    width: 30%;
    margin-left: -5px;
    background-color: #FF5959;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:14.5px;
    padding-top: 15px;
    
}
footer{
    

    background-color: black;
    text-align: center;
    color: whitesmoke;
    
}
footer h3{
    text-decoration: none;
    
    color:#FF5959;
    font-family: sans-serif ;

font-weight: 400;
font-size: 36px;
line-height: 44px;
}