
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Hind Siliguri', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;

}
.first-style{
    background-image: url(donate-today-main/images/donateabc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

   

}
#h-style{
    text-align: center;
    padding-top: 10%;
    font-size: 60px;
    font-weight: bolder;
    color: white;

}
#p-style{
    text-align: center;
    color:white;
    padding: 1% 22% 5% 22%;

}

.link-button{
    
    text-decoration:none;
    background-color: #FF595A;
    padding: 20px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 900;
    font-size: 20px;

}
.link-style{
    text-align: center;
}

#h2-style{
    text-align: center;
    padding-top: 4%;
    font-size: 40px;
    font-weight: bolder;
}
#p2-style{
    text-align: center;
    padding: 1% 20% 4% 20%;
}
.div{

    background-color: #FAFAFA;
    width: 80px;
    border:0px solid;
    padding: 23px 23px 23px 23px;
    margin: 8px;
    width: 70px;
    display: inline-block;
    align-self: center;
  
}
.money-ammount{
    margin-left: 27%;
    margin-right: 23%;
    text-align: center;
    display: flex;
    margin-bottom: 70px;
}
#highlight{
    border:2px solid rgb(229, 74, 74);
    color: #e85454;
    background-color: #e3d1d1;
    font-weight:1000;
}
.hr{
    
    width: 46%;
    margin-left: 28%;
    margin-bottom:3%;
    
}
.ammount{
    text-align: center;
    margin-bottom: 2%;
    font-weight: 200;
    color: #e3d1d1;
}

.link-button2{
    
    text-align: center; 
    padding-bottom: 8%;
}


.plan{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5%;
    padding-top: 5%;
    text-align: justify;
    border-radius: 10px;
 
}
.donation-plan{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 8%;

    
}

#food{
    background-color: #EDF5F6;
}
#shelter{
    background-color: #FFEEEF;
}
#education{
    background-color: #FFF4D6;
}